graphics-origin/graphics_origin.h
build/
# Compiled Object files
*.slo
*.lo
*.o
moc_*
*qtmakefile.mk
*.pri

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app

# Directories
bin/

# Various
.cproject
.project
*.directory
*.log
